<div class="surface-ground px-2 py-5 ">

    <div>
        <span class="p-3 text-900 font-medium text-2xl">{{ saludo + ' ' + nombreUsuario }} </span>
        
    </div>

    <div *ngIf="estadisticas && !error; else mensajeError" class="grid">
        <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Cantidad Ventas Hoy</span>
                        <div class="text-900 font-medium text-xl">{{estadisticas.cantidadCompras}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total Vendido:</span>
                        <div class="text-900 font-medium text-xl">${{estadisticas.totalVentas}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-dollar text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Cant. Productos Disponibles</span>
                        <div class="text-900 font-medium text-xl">{{estadisticas.cantidadProductos}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="estadisticas.productosDto.length > 0" class="col-12 mt-4">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between align-items-center ">
                    <div>
                        <span class="text-900 font-medium text-xl">Productos con stock menor a 5 unidades</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-red-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-exclamation-triangle text-red-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngFor="let item of estadisticas.productosDto">


            <div class="col-12 md:col-6 lg:col-4">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3 text-2xl">{{item.nombre}}</span>
                            <div class="text-900 font-medium text-xl">
                                Stock: <span class="text-red-500">{{item.stock}}</span>
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center border-round">
                            <img class="shadow-2 border-round w-8rem h-auto"
                                [src]="'https://significado.com/wp-content/uploads/Imagen-Animada.jpg'" [alt]="item.id_producto" />
                        </div>
                    </div>
                </div>
            </div>
                       
        </ng-container>

    </div>

    <ng-template #mensajeError>
        <div class="col-12 mt-4">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between align-items-center ">
                    <div>
                        <span class="text-900 font-medium text-xl">{{error}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-red-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-exclamation-triangle text-red-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>