<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/logo-cuadrado.jpg" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        
        <p-avatar [image]="url + usuario.imagen" styleClass="cursor-pointer" 
            size="large" shape="circle">
        </p-avatar>
    </button>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <!-- <button class="p-link layout-topbar-button" [routerLink]="rol == 'MESERO' ? '/mesero/mi-perfil' : '/admin/mi-perfil'">
            <i class="pi pi-user"></i>
            <span>Mi Perfil</span>
        </button> -->
        <button class="p-link layout-topbar-button" (click)="cerrarSesion()">
            <i class="pi pi-power-off"></i>
            <span>Cerrar sesión</span>
        </button> 
    </div>
</div>