<p-dataView #dv [value]="mesas" layout="grid">
  <ng-template pTemplate="header">
      <div>
          <h2 class="mt-2">Mesas</h2>
      </div>
  </ng-template>
  
  <ng-template let-mesas pTemplate="grid">
    <div class="grid grid-nogutter">
        <div class="col-12 sm:col-4 lg:col-4 xl:col-2 p-2" *ngFor="let item of mesas">
            <div class="p-4 border-1 surface-border surface-card border-round shadow-4">
                <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                    <span class="flex align-items-center gap-2">
                        <i class="pi pi-exclamation-circle"></i>
                        <span class="font-semibold">{{ item.numero }}</span>
                    </span>
                    <p-tag [value]="item.estado_actual" [severity]="getSeverity(item)"></p-tag>
                </div>
                <div class="flex flex-column align-items-center gap-3 py-5">
                    <img class="w-9 shadow-2 border-round" [src]="item.numero.toLowerCase().includes('domi') ? '/assets/domi.png' : '/assets/mesa.jpg'" alt="Mesa img" />
                </div>
                <div class="flex align-items-center justify-content-center">
                    <p-button label="Seleccionar" [severity]="getSeverity(item)" size="large" [rounded]="true" (click)="onSeleccionMesa(item)"></p-button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
</p-dataView>