<p-dataView #dv [value]="productos" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
  <ng-template pTemplate="header">
      <div *ngIf="categoriasCargadas" class="flex flex-column md:flex-row md:justify-content-between">
          <p-dropdown [options]="categorias" optionLabel="label" optionValue="value" placeholder="Ordenar por categoria" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
      </div>
  </ng-template>
  
  <ng-template let-productos pTemplate="grid">
    <div class="grid grid-nogutter">
        <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2" *ngFor="let item of productos">
            <div class="p-4 border-1 surface-border surface-card border-round shadow-4">
                <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                    <span class="flex align-items-center gap-2">
                        <i class="pi pi-tag"></i>
                        <span class="font-semibold">{{ item.categoria.nombre }}</span>
                    </span>
                    <p-tag [value]="(!item.stock && item.stock <= 0) ? 'NO DISPONIBLE' : 'DISPONIBLE'" [severity]="getSeverity(item)"></p-tag>
                </div>
                <div class="flex flex-column align-items-center gap-3 py-5">
                    <img class="w-9 shadow-2 border-round" src="/assets/login.jpg" [alt]="item.nombre" />
                    <div class="text-2xl font-bold">{{ item.nombre }}</div>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <span class="text-2xl font-semibold">{{ '$ ' + (item.precio | number) }}</span>
                    <p-button icon="pi pi-shopping-cart" severity="secondary" size="large" [rounded]="true" (click)="agregarCarrito(item)"></p-button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
</p-dataView>