<div>
    <div class="p-2 flex justify-content-between">
        <p-button icon="pi pi-arrow-left" [outlined]="true" severity="secondary" [rounded]="true" label="Volver" 
            (click)="volverSeleccionMesa()"></p-button>
        <p-button icon="pi pi-shopping-cart" severity="danger" size="large" [rounded]="true" label="Ver" 
            (click)="verCarritoCompras()" *ngIf="hayCarrito() && vender"></p-button>
    </div>
    <ng-container *ngIf="vender; else resumen">

        <p-dataView #dv [value]="productosFiltrados" layout="grid">
            <ng-template pTemplate="header">
                <div class="flex justify-content-between">
                    <div *ngIf="categoriasCargadas" class="flex flex-column md:flex-row md:justify-content-between">
                        <p-dropdown [options]="categorias" optionLabel="label" optionValue="value"
                            placeholder="Ordenar por categoria" [(ngModel)]="categoriaSeleccionada" (onChange)="onSortChange()"
                            styleClass="mb-2 md:mb-0"></p-dropdown>
                    </div>

                </div>
            </ng-template>
        
            <ng-template let-productosFiltrados pTemplate="grid">
                <div class="grid grid-nogutter">
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-2" *ngFor="let item of productosFiltrados">
                        <div class="p-4 border-1 surface-border surface-card border-round shadow-4">
                            <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ item.categoria.nombre }}</span>
                                </span>
                                <p-tag [value]="getLabelStock(item)"
                                    [severity]="getSeverity(item)"></p-tag>
                            </div>
                            <div class="flex flex-column align-items-center gap-3 py-5">
                                <img class="w-9 shadow-2 border-round" [src]="url + item.imagen" [alt]="item.nombre" />
                                <div class="text-2xl font-bold">{{ item.nombre }}</div>
                            </div>
                            <div class="flex align-items-center justify-content-between">
                                <span class="text-2xl font-semibold">{{ '$ ' + (item.precio | number) }}</span>
                                <p-button icon="pi pi-plus" severity="secondary" size="large" [rounded]="true" 
                                    [disabled]="obtenerProductoInventario(item.id_producto).stock !== null && (obtenerProductoInventario(item.id_producto).stock === 0 || !obtenerProductoInventario(item.id_producto).stock)"
                                    (click)="abrirModalAgregarProducto(item)"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="empty">
                <div class="flex justify-content-center text-2xl">
                    No hay productos disponibles
                </div>
            </ng-template>
            
        </p-dataView>


        <p-dialog *ngIf="visibleCarrito" header="Pedido" [(visible)]="visibleCarrito" [modal]="true" [style]="{ width: '500px', margin: '5px' }"
            [draggable]="false" [resizable]="false">
            <div *ngIf="carritoCompras.length > 0">
                <p-dataView #dv [value]="carritoCompras">
                    <ng-template pTemplate="list" let-productos>
                        <div class="grid grid-nogutter">
                            <div class="col-12" *ngFor="let item of productos; let first = first; let i = index">
                                
                                <div class="flex flex-row align-items-center p-2 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                    <img class="w-6rem xl:w-8rem shadow-2 block xl:block mx-auto border-round" [src]="url + item.producto.imagen" [alt]="item.producto.id_producto" />
                                    <div class="flex flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                        <div class="flex flex-column gap-2">
                                            <div class="text-2xl font-bold text-900">{{ item.producto.nombre }}</div>
            
                                            <div class="flex align-items-center gap-3">
                                                <span class="font-semibold">{{ 'Cantidad: ' }}</span>
                                                <span class="font-semibold text-xl">{{ item.cantidadActual }}</span>
                                            </div>

                                            <div *ngIf="item.nota" class="flex align-items-center gap-2">
                                                <span class="font-semibold">{{ 'Nota: ' }}</span>
                                                <span class="font-semibold">{{ item.nota }}</span>
                                            </div>
            
                                        </div>
                                        <div class="flex justify-content-center align-items-center gap-4 my-4">

                                            <button [id]="i+'_resta'" pButton icon="pi pi-minus" class="p-button-rounded" (click)="changeCantidad('resta', item)" [disabled]="item.cantidadActual <= 1">
                                            </button>
                                            <p class="text-lg font-semibold m-0">
                                                {{ item.cantidadActual }}
                                            </p>
                                            <button [id]="i+'_suma'" pButton icon="pi pi-plus" class="p-button-rounded" (click)="changeCantidad('suma', item)" 
                                                [disabled]="obtenerProductoInventario(item.producto.id_producto).stock !== null && (obtenerProductoInventario(item.producto.id_producto).stock <= item.cantidadActual || !obtenerProductoInventario(item.producto.id_producto).stock)">
                                            </button>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="empty">
                        No hay elementos en el carrito de compras
                    </ng-template>
                    
                </p-dataView>

                <div class="flex justify-content-center align-items-center gap-3 mt-4">
                    <p-button  icon="pi pi-eraser" severity="danger" label="Limpiar Carrito"
                        (click)="limpiarCarrito()"></p-button>

                    <p-button  icon="pi pi-save" severity="success" label="Confirmar" 
                        (click)="confirmarPedido()"></p-button>
                </div>

            </div>
        </p-dialog>
        
        <p-dialog *ngIf="visible" header="Agregar al carrito" [(visible)]="visible" [modal]="true" [style]="{ width: '500px', margin: '5px' }"
            [draggable]="false" [resizable]="false">
        
            <div class="grid col-12">
                <div class="col-12 md:col-6">
                    <img *ngIf="fotoProducto" [src]="fotoProducto" alt="Vista previa de la imagen" width="200" height="200"
                        class="mt-2 mx-auto mb-5 block shadow-2">
        
                </div>
                <div class="col-12 md:col-6">
        
                    <div class="text-2xl font-bold">{{ productoSeleccionado.nombre }}</div>
        
                    <p class="my-4">
                        {{ productoSeleccionado.descripcion }}
                    </p>
        
                    <span class="text-2xl font-semibold">{{ '$ ' + (productoSeleccionado.precio | number) }}</span>
        
                    <div class="flex justify-content-center align-items-center gap-4 my-4">
                        <p-button (click)="seleccionarCantidad('resta')" icon="pi pi-minus" [rounded]="true"
                            [disabled]="cantidadSeleccionada<=0">
                        </p-button>
                        <p class="text-lg font-semibold m-0">
                            {{ cantidadSeleccionada }}
                        </p>
                        <p-button (click)="seleccionarCantidad('suma')" icon="pi pi-plus" [rounded]="true"
                            [disabled]="!hayDisponibilidad()">
                        </p-button>
                    </div>

                    <div class="border-round mb-4">
                        <textarea rows="2" maxlength="200" pInputTextarea [(ngModel)]="nota"
                            [autoResize]="true" class="h-full w-full"
                            placeholder="Nota..."></textarea>
                    </div>
        
                    <div class="mt-4">
                        <p-button [disabled]="cantidadSeleccionada <= 0" (click)="agregarCarrito()" label="Agregar"
                            iconPos="right" icon="pi pi-shopping-cart" styleClass="w-full">
                        </p-button>
                    </div>
                </div>
        
            </div>
        </p-dialog>
    </ng-container>

    <ng-template #resumen>

        <ng-container *ngIf="compraActual">

            <h1 class="font-semibold text-2xl text-center mt-2">
                Resumen de la venta actual
            </h1>
            <p-dataView #dv [value]="compraActual.pedidos">
                <ng-template pTemplate="list" let-pedidos>
                    <div class="grid grid-nogutter">
                        <div class="col-12" *ngFor="let item of pedidos; let first = first">
                            <div class="flex flex-row align-items-center p-2 gap-4 py-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                <div *ngIf="esAdmin()">
                                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger" (click)="eliminarPedido(item)"></p-button>
                                </div>
                                <img class="w-6rem xl:w-8rem shadow-2 xl:block lg:block mx-auto border-round hidden" [src]="url + item.producto.imagen" [alt]="item.producto.nombre" />
                                <div class="flex flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                    <div class="flex flex-column gap-2">
                                        <div class="text-2xl font-bold text-900">{{ item.producto.nombre }}</div>
        
                                        <div *ngIf="item.nota" class="flex align-items-center gap-2">
                                            <span class="font-semibold">{{ 'Nota: ' }}</span>
                                            <span class="font-semibold">{{ item.nota}}</span>
                                        </div>

                                        <div class="flex align-items-center gap-2">
                                            <i class="pi pi-tag"></i>
                                            <span class="font-semibold">{{ item.producto.categoria.nombre }}</span>
                                        </div>
        
                                        <div class="flex align-items-center gap-3">
                                            <span class="font-semibold">{{ 'Cantidad: ' }}</span>
                                            <span class="font-semibold text-xl">{{ item.cantidad}}</span>
                                        </div>
        
        
                                    </div>
                                    
                                </div>
                                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
        
                                    <span class="text-2xl font-semibold">{{ '$' + (item.subtotal | number) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="empty">
                    <div *ngIf="esAdmin(); else mesero" class="flex justify-content-center">
                        <p-button icon="pi pi-times" label="Cancelar compra" [rounded]="true" [text]="true" [raised]="true" severity="danger" (click)="eliminarCompra(compraActual)"></p-button>

                    </div>

                    <ng-template #mesero>
                        <div class="text-center text-semibold p-2 border-1 surface-border surface-card border-round ">
                            No hay pedidos en la compra actual
                        </div>
                    </ng-template>
                </ng-template>
            </p-dataView>
        
            <div *ngIf="compraActual.pedidos && compraActual.pedidos.length > 0" class="flex justify-content-end font-bold border-top-1 surface-border p-2">

                <div class="text-right gap-2">
                    <p class="text-blue-700 font-normal text-2xl" *ngIf="formPropina.value.propina">{{'Propina Sugerida: $ ' + (compraActual.total * formPropina.value.propina / 100 | number)}}</p>
                    <p class="text-blue-500 text-3xl">{{'Total: $ ' + (compraActual.total | number)}}</p>

                </div>
                
            </div>
        
            
        </ng-container>
    </ng-template>
    
</div>

<!-- Seccion footer propina impresion confirmacion -->
<ng-container *ngIf="mesa.estado_actual != 'LIBRE'">
    <div class="grid grid-nogutter mb-4">
        <div class="col-6">

            <form [formGroup]="formPropina" *ngIf="!modalConfirmarPropina && !esDomi() && !vender && esAdmin() && (compraActual.pedidos && compraActual.pedidos.length > 0)">
                <div class="w-6 p-2">
                    <div class="flex flex-column gap-2 border-round mb-4">
                        <label for="">Propina sugerida *</label>
                        <p-dropdown appendTo="body" [options]="itemsPropinas" formControlName="propina" optionLabel="label" optionValue="value" placeholder="Seleccione" styleClass="w-full"></p-dropdown>
                        <span *ngIf="isValidField(formPropina, 'propina')" class="text-red-500 font-semibold mb-2">
                            Este campo es requerido
                        </span>
                    </div>
                            
                </div>
            </form>
        </div>
        <div class="col-6">
            
            <div class="flex align-items-center justify-content-end gap-4 p-2 mt-4">

                <p-button *ngIf="!vender && esAdmin() && (compraActual.pedidos && compraActual.pedidos.length > 0)" [icon]="'pi pi-print'" severity="primary" size="small" [rounded]="true" [label]="'Comanda'" 
                    (click)="enviarComanda()"></p-button>

                <p-button [icon]="vender ? 'pi pi-eye' : 'pi pi-shopping-cart'" severity="secondary" size="small" [rounded]="true" [label]="vender ? 'Ver Resumen' : 'Vender'"
                (click)="handleVenderResumen()"></p-button>

                <!--TODO: Generar otro boton para imprimir de nuevo con la propina de nuevo tambien-->

                <p-button *ngIf="!vender && esAdmin() && (compraActual.pedidos && compraActual.pedidos.length > 0) && !modalConfirmarPropina" [icon]="'pi pi-print'" severity="primary" size="small" [rounded]="true" [label]="'Imprimir'" 
                    (click)="enviarCompraImpresion()" [disabled]="(esDomi() ? false : formPropina.invalid)"></p-button>

                <p-button *ngIf="!vender && esAdmin() && (compraActual.pedidos && compraActual.pedidos.length > 0)" [icon]="'pi pi-check'" severity="primary" size="small" [rounded]="true" [label]="'Finalizar'" 
                    (click)="abrirModalConfirmarPropina()" [disabled]="!compraActual.impresion"></p-button>
            </div>
        </div>
    </div>

</ng-container>



<!--MODAL PARA DOMICILIO-->
<p-dialog header="Domicilio" [(visible)]="modalDomicilio" [modal]="true" [style]="{ width: '500px', margin: '5px' }" [draggable]="false"
      [resizable]="false">
    <div>
        <form [formGroup]="formDomi" (ngSubmit)="enviarFormDomi()" autocomplete="off">

            <div class="flex flex-column gap-2 border-round mb-4">
                <label for="">Número de documento *</label>
                <input type="text" pInputText placeholder="Escriba el número de documento del cliente" formControlName="documento">
                <span *ngIf="isValidField(formDomi, 'documento')" class="text-red-500 font-semibold mb-2">
                  Este campo es requerido
                </span>
            </div>

            <div class="flex flex-column gap-2 border-round mb-4">
                <label for="">Dirección *</label>
                <input type="text" pInputText placeholder="Escriba la dirección del cliente" formControlName="direccion">
                <span *ngIf="isValidField(formDomi, 'direccion')" class="text-red-500 font-semibold mb-2">
                  Este campo es requerido
                </span>
            </div>

            <div class="flex flex-column gap-2 border-round mb-4">
                <label for="">Teléfono *</label>
                <input type="text" pInputText placeholder="Escriba el teléfono del cliente" formControlName="telefono" maxlength="10">
                <span *ngIf="isValidField(formDomi, 'telefono')" class="text-red-500 font-semibold mb-2">
                  Este campo es requerido
                </span>
            </div>

            <div class="flex justify-content-center">
                <p-button type="submit" [rounded]="true" icon="pi pi-print" iconPos="right" [disabled]="!formDomi.valid" label="Imprimir"></p-button>
            </div>
        </form>
    </div>
</p-dialog>


<!--Modal para confirmar la propina que dió el cliente -->
<p-dialog *ngIf="modalConfirmarPropina" header="Confirmar venta" [(visible)]="modalConfirmarPropina" [modal]="true" [style]="{ width: '400px', margin: '5px' }"
    [draggable]="false" [resizable]="false">

    <div class="w-full">

        <form [formGroup]="formPropina" (ngSubmit)="confirmarPropina()">
            <div class="flex flex-column gap-2 border-round mb-4">
                <label for="">Propina *</label>
                <p-inputNumber formControlName="propina" inputId="integeronly" prefix="$ " styleClass="w-full" placeholder="Escriba la propina pagada"> </p-inputNumber>

                <span *ngIf="isValidField(formPropina, 'propina')" class="text-red-500 font-semibold mb-2">
                    Este campo es requerido
                </span>
            </div>

            <p-button class="flex justify-content-center" type="submit" [rounded]="true" icon="pi pi-check" iconPos="right" [disabled]="!formPropina.valid" label="Confirmar"></p-button>

        </form>
    </div>

</p-dialog>

<p-toast position="bottom-center" key="imprimir"></p-toast>
<p-confirmDialog></p-confirmDialog>
